@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}
