@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}
// ------------
.main--dark {
  background-color: rgb(57, 55, 55);
}
// ------------

button {
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}
