.backdrop-film-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}

.backdrop-film-modal.is-hidden .film-modal {
  transform: translate(-50%, -50%) scale(1);
}

.film-modal {
  width: 88vw;
  max-width: 704px;
  height: 93%;
  background-color: var(--main-light-color);
  padding: 48px 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 300ms;
  overflow-y: scroll;

  @include tablet {
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 40px;
    overflow-y: unset;
  }

  @include desktop {
    width: 806px;
    max-width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.film-modal__close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.film-modal__close-icon {
  stroke: var(--main-dark-color);
  transition: stroke 250ms var(--timing-function);
  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.film-modal__card {
  @include tablet {
    display: flex;
  }
}

.film-modal__img-thumb {
  min-width: 240px;
  max-width: 300px;
  height: 357px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 250ms var(--timing-function);
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  @include tablet {
    width: 264px;
    height: 374px;
    margin-right: 68px;
  }

  @include desktop {
    width: 375px;
    max-width: 375px;
    height: 478px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.film-modal__img {
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.open-trailer-btn {
  display: block;
  width: 68px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  outline: transparent;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

// .icon-play {
//   position: absolute;
//   top: 0;
//   left: 0;
//   object-fit: contain;
// }

.icon-path {
  fill: rgba(0, 0, 0, 0.5);
  transition: fill 250ms var(--timing-function);
}

.film-modal__img-thumb:hover .open-trailer-btn {
  opacity: 1;
}

.icon-path {
  fill: rgb(213, 9, 9);
}

// .film-modal__img-thumb:hover .icon-path,
// .film-modal__img-thumb:focus .icon-path {
//   fill: rgb(213, 9, 9);
// }

.film-modal__title {
  @include font(500, 20px, 1.15);
  text-transform: uppercase;
  color: var(--main-dark-color);
  margin-bottom: 20px;

  @include responsive {
    text-align: center;
  }

  @include desktop {
    @include font(500, 30px, 1.17);
  }
}

.film-modal__list-container {
  @include responsive {
    display: flex;
    justify-content: center;
  }
}

.film-modal__list {
  margin-bottom: 20px;
}

.film-modal__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:first-child .film-modal__info-sub-title {
    margin-right: 41px;
  }

  &:nth-child(2) .film-modal__info-sub-title {
    margin-right: 53px;
  }

  &:nth-child(3) .film-modal__info-sub-title {
    margin-right: 39px;
  }

  &:last-child .film-modal__info-sub-title {
    margin-right: 76px;
  }

  @include desktop {
    &:first-child .film-modal__info-sub-title {
      margin-right: 85px;
    }

    &:nth-child(2) .film-modal__info-sub-title {
      margin-right: 97px;
    }

    &:nth-child(3) .film-modal__info-sub-title {
      margin-right: 83px;
    }

    &:last-child .film-modal__info-sub-title {
      margin-right: 120px;
    }
  }
}

.film-modal__info-sub-title {
  @include font(500, 12px, 1.33);
  color: #8c8c8c;
}

.film-modal__info-text {
  @include font(500, 12px, 1.33);
  color: var(--main-dark-color);
}

.film-modal__info-text-vote {
  padding: 1px 9px;
  border-radius: 5px;
  line-height: 1.16;
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.film-modal__info-text-votes {
  padding: 1px 4px;
  border-radius: 5px;
  line-height: 1.16;
  color: var(--main-dark-color);
  background-color: #f7f7f7;
}

.film-modal__about-title {
  @include font(500, 12px, 1.33);
  margin-bottom: 8px;
}

.film-modal__about-text {
  @include font(500, 12px, 1.67);
  margin-bottom: 20px;

  @include tablet {
    overflow-y: scroll;
    max-height: 236px;
    width: 264px;
  }

  @include desktop {
    width: 391px;
    // height: 160px;
    overflow-y: unset;
  }
}

.film-modal__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive {
    justify-content: center;
  }

  @include desktop {
    margin-left: 8px;
    justify-content: left;
  }
}

.film-modal__btn {
  width: 110px;
  height: 44px;
  padding: 0px 8px;
  @include font(500, 12px, 1.33);
  text-align: center;
  text-transform: uppercase;

  border: none;
  outline: none;
  border-radius: 5px;

  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
  }
}

.film-modal__watch-btn {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  transition: color 500ms linear;

  @include responsive {
    margin-right: 15px;
  }

  @include desktop {
    margin-right: 15px;
  }
}

.film-modal__queue-btn {
  color: var(--main-dark-color);
  background-color: transparent;
  border: 1px solid var(--main-dark-color);
}
