@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin largedesktop {
  @media screen and (min-width: 2000px) {
    @content;
  }
}

@mixin responsive {
  @media screen and (min-width: 321px) and (max-width: 767px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
