.modal-team__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: var(--main-dark-color);
  text-align: center;
}

.modal-team {
  background: var(--main-light-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 4px;
  padding: 30px 20px;
  position: relative;
  overflow-y: auto;

  transition: transform 500ms var(--timing-function),
    opacity 500ms var(--timing-function),
    visibility 500ms var(--timing-function);

  margin-right: auto;
  margin-left: auto;

  max-width: 400px;
  max-height: 100vh;

  @include tablet {
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 650px;
    max-width: 650px;

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @include desktop {
    width: 1000px;
    max-width: 1000px;
  }
}

.modal-team__close-btn {
  width: 30px;
  height: 30px;
  transition: fill 250ms var(--timing-function);
  background-color: #0000;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  border: transparent;

  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal-team__close-icon {
  fill: currentColor;
}

.modal-team-list {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;

  @include desktop {
    justify-content: space-evenly;
  }
}

.modal-team-list__item {
  position: relative;
  margin: 0;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  width: 100%;

  @include tablet {
    width: calc((100% - 40px) / 3);
  }

  @include desktop {
    width: calc((100% - 40px) / 5.3);
  }
}

.accent--item {
  box-shadow: 8px 8px 11px -2px var(--accent-color);
}

.modal-team-list__photo {
  width: 100%;
  display: block;
  max-width: 100%;

  border-radius: 4px;
}

.team-thumb {
  z-index: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    justify-content: space-between;
  }

  padding: 20px;
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    padding: 10px;
    min-height: 83px;
  }

  @include desktop {
    padding: 10px 20px;
  }
}

.team-content {
  margin-right: 20px;

  @include tablet {
    margin-right: 0;
  }
}

.team-thumb__link {
  width: 44px;
  height: 44px;

  background-color: rgba(220, 201, 201, 0.1);
  color: var(--accent-color);

  background-repeat: no-repeat;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
  }

  @include desktop {
    width: 25px;
    height: 25px;
  }
}

.team-thumb__link-icon {
  fill: currentColor;
}

.team-content__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 2px;
  color: var(--main-light-color);

  @include tablet {
    font-size: 14px;
  }
}

.team-content__position {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  @include tablet {
    font-size: 14px;
  }
}
