<div class="backdrop-film-modal">
  <div class="film-modal">
    <button type="button" class="film-modal__close-btn"></button>
    <div class="film-modal__container"></div>
    <button type="button" class="library-btn film-modal__watch-btn active">
      ADD TO WATCHED
    </button>
    <button type="button" class="library-btn film-modal__queue-btn queue-btn">
      ADD TO QUEUE
    </button>
  </div>
</div>

<!-- create markup -->
<div class="film-modal__card">
  <img src="#" alt="photo" />
  <h2 class="film-modal__title"></h2>
  <ul class="film-modal__list">
    <li class="film-modal__item">
      <p class="film-modal__info-sub-title">Vote / Votes</p>
      <p class="film-modal__info-text"><span></span> <span></span></p>
    </li>
    <li class="film-modal__item">
      <p class="film-modal__info-sub-title">Popularity</p>
      <p class="film-modal__info-text"></p>
    </li>
    <li class="film-modal__item">
      <p class="film-modal__info-sub-title">Original Title</p>
      <p class="film-modal__info-text"></p>
    </li>
    <li class="film-modal__item">
      <p class="film-modal__info-sub-title">Genre</p>
      <p class="film-modal__info-text"></p>
    </li>
  </ul>
  <h3 class="film-modal__about-title">About</h3>
  <p class="film-modal__about-text"></p>
</div>
