<section>
  <div class="container">
    <h2 class="gallery-title visually-hidden">Movie gallery</h2>
    <div class="toggler">
      <span class="toggler__title">Trending by</span>
      <label class="label">
        <span class="toggle-text toggle-day--active" id="text-day">day</span>
        <input id="switch" name="switch" type="checkbox" />
        <span class="toggler__box"></span>
        <span class="toggle-text" id="text-week">week</span>
      </label>
    </div>
    <ul class="gallery"></ul>

    <div class="btn-to-top" title="Return to top">
      <svg class="btn-to-top__icon" width="45" height="45">
        <use href="./images/sprite.svg#icon-arrow-up"></use>
      </svg>
    </div>
  </div>
</section>
