<header class="library-header" id="header">
  <div class="container header__container">
    
    <div class="theme-switch">
      <svg class="switch-icon icon-dark" width="20" height="20">
        <use href="./images/sprite.svg#icon-moon"></use>
      </svg>
      <div class="them-btn-wraper">
        <button type="button" class="them-btn them-dark-btn"></button>
        <button type="button" class="them-btn them-light-btn"></button>
      </div>
      <svg class="switch-icon icon-light" width="20" height="20">
        <use href="./images/sprite.svg#icon-sun"></use>
      </svg>
    </div>

    <div class="header__nav">
      <div class="logo-wrap">
        <a class="logo link" href="/src/index.html">
          <img src="/src/images/film.svg" alt="logo" width="24" height="24" />
          <span class="logo__text">Filmoteka</span>
        </a>
      </div>
      <div class="header-menu">
        <ul class="header-menu__list list">
          <li class="header-menu__item">
            <a class="header-menu__link link" href="/src/index.html">Home</a>
          </li>
          <li class="header-menu__item">
            <a
              class="header-menu__link header-menu__link--current link"
              href="/src/library.html"
              >My library</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="wrap-btn">
      <ul class="library-btn__list list">
        <li class="library-btn__item">
          <button
            class="library-btn__btn library-btn__btn-watched library-btn__btn--active"
            type="button"
          >
            Watched
          </button>
        </li>
        <li class="library-btn__item">
          <button class="library-btn__btn library-btn__btn-queue" type="button">
            queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
