<div class="backdrop-team is-hidden" data-team-modal>
  <div class="modal-team">
    <h2 class="modal-team__title">
      <svg class="footer-content__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-heart_footer"></use></svg
      >TEAM OF FENIX
    </h2>
    <button type="button" class="modal-team__close-btn button">
      <svg class="modal-team__close-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-team-list list">
      <li class="modal-team-list__item accent--item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/ternytskii-150.jpg 1x,
              ./images/team-photo/ternytskii-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/ternytskii-200.jpg 1x,
              ./images/team-photo/ternytskii-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/ternytskii-350.jpg 1x,
              ./images/team-photo/ternytskii-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/ternytskii.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Serhii Ternytskii</p>
            <p class="team-content__position">Team Lead</p>
          </div>
          <a
            href="https://github.com/SergiiTernytskyi"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item accent--item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/honcharenko-150.jpg 1x,
              ./images/team-photo/honcharenko-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/honcharenko-200.jpg 1x,
              ./images/team-photo/honcharenko-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/honcharenko-350.jpg 1x,
              ./images/team-photo/honcharenko-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/honcharenko.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Antonina Honcharenko</p>
            <p class="team-content__position">Scrum Master</p>
          </div>
          <a
            href="https://github.com/AntoninaHoncharenko"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/kapuza-150.jpg 1x,
              ./images/team-photo/kapuza-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/kapuza-200.jpg 1x,
              ./images/team-photo/kapuza-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/kapuza-350.jpg 1x,
              ./images/team-photo/kapuza-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/kapuza.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Juliia Kapuza</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/JulyKapuza" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/vakhrushev-150.jpg 1x,
              ./images/team-photo/vakhrushev-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/vakhrushev-200.jpg 1x,
              ./images/team-photo/vakhrushev-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/vakhrushev-350.jpg 1x,
              ./images/team-photo/vakhrushev-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/vakhrushev.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Serhii Vakhrushev</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/Sergvah" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/babenko-150.jpg 1x,
              ./images/team-photo/babenko-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/babenko-200.jpg 1x,
              ./images/team-photo/babenko-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/babenko-350.jpg 1x,
              ./images/team-photo/babenko-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/babenko.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Liudmyla Babenko</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Savelieva0509"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/tymkiv-150.jpg 1x,
              ./images/team-photo/tymkiv-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/tymkiv-200.jpg 1x,
              ./images/team-photo/tymkiv-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/tymkiv-350.jpg 1x,
              ./images/team-photo/tymkiv-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/tymkiv.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Vitalii Tymkiv</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Vitalii-Tymkiv"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/tkach-150.jpg 1x,
              ./images/team-photo/tkach-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/tkach-200.jpg 1x,
              ./images/team-photo/tkach-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/tkach-350.jpg 1x,
              ./images/team-photo/tkach-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/tkach.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Sofia Tkach</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/sonyaaat" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/hladush-150.jpg 1x,
              ./images/team-photo/hladush-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/hladush-200.jpg 1x,
              ./images/team-photo/hladush-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/hladush-350.jpg 1x,
              ./images/team-photo/hladush-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/hladush.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Artem Hladush</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Artem2022Hladush"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <picture class="modal-team-list__photo">
          <source
            srcset="
              ./images/team-photo/annyenkov-150.jpg 1x,
              ./images/team-photo/annyenkov-300.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/team-photo/annyenkov-200.jpg 1x,
              ./images/team-photo/annyenkov-400.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/team-photo/annyenkov-350.jpg 1x,
              ./images/team-photo/annyenkov-700.jpg 2x
            "
            media="(min-width: 480px)"
          />
          <img
            src="./images/team-photo/annyenkov.jpg"
            alt="photo"
            width="175"
            height="237"
          />
        </picture>

        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Viktor Annyenkov</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/Annyenkov" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
