<div class="backdrop" data-franchise>
    <div class="modal-team">
     
            <h2 class="modal-team__title">TEAM</h2>
            <button type="button" class="modal-team__close-btn button" data-franchise-close>
                <svg class="modal-team__close-icon" width="18" height="18">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="modal-team-list list">
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/default.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="#" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Serhii Ternytskii</p>
                        <p class="team-thumb_position">Team Lead</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/honcharenko.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/AntoninaHoncharenko" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Antonina Honcharenko</p>
                        <p class="team-thumb_position">Scrum Master</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/kapuza.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/JulyKapuza" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Juliia Kapuza</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/vakhrushev.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/Sergvah" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Serhii Vakhrushev</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/babenko.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/Savelieva0509" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Liudmyla Babenko</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/tymkiv.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/Vitalii-Tymkiv" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Vitalii Tymkiv</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/tkach.jpg" alt= "photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/sonyaaat" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Sofia Tkach</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/default.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="https://github.com/Artem2022Hladush" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Artem Hladush</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>
                <li class="modal-team-list__item">
                    <img src="./images/team-photo/default.jpg" alt="photo" class="modal-team-list__photo" width="10">
                    <div class="team-thumb">
                        <a href="#" class="team-thumb__link link">
                            <svg class="team-thumb__link-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                        <p class="team-thumb__name">Viktor Annyenkov</p>
                        <p class="team-thumb_position">Developer</p>
                    </div>
                </li>       
            </ul>
        </div>
</div>