<div class="backdrop is-hidden" data-team-modal>
  <div class="modal-team">
    <h2 class="modal-team__title">
      <svg class="footer-content__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-heart_footer"></use></svg
      >TEAM
    </h2>
    <button type="button" class="modal-team__close-btn button">
      <svg class="modal-team__close-icon" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-team-list list">
      <li class="modal-team-list__item accent--item">
        <img
          src="./images/team-photo/ternytskii.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Serhii Ternytskii</p>
            <p class="team-content__position">Team Lead</p>
          </div>
          <a
            href="https://github.com/SergiiTernytskyi"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item accent--item">
        <img
          src="./images/team-photo/honcharenko.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Antonina Honcharenko</p>
            <p class="team-content__position">Scrum Master</p>
          </div>
          <a
            href="https://github.com/AntoninaHoncharenko"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/kapuza.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Juliia Kapuza</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/JulyKapuza" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/vakhrushev.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Serhii Vakhrushev</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/Sergvah" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/babenko.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Liudmyla Babenko</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Savelieva0509"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/tymkiv.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Vitalii Tymkiv</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Vitalii-Tymkiv"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/tkach.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Sofia Tkach</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/sonyaaat" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/hladush.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Artem Hladush</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a
            href="https://github.com/Artem2022Hladush"
            class="team-thumb__link link"
          >
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="modal-team-list__item">
        <img
          src="./images/team-photo/annyenkov.jpg"
          alt="photo"
          class="modal-team-list__photo"
          width="10"
        />
        <div class="team-thumb">
          <div class="team-content">
            <p class="team-content__name">Viktor Annyenkov</p>
            <p class="team-content__position">Developer</p>
          </div>

          <a href="https://github.com/Annyenkov" class="team-thumb__link link">
            <svg class="team-thumb__link-icon" width="25" height="25">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
